<!DOCTYPE html>
<html lang="en">

<head>

        <title>Document</title>
</head>

<body>
        <div class="main-content">
                <p> {{>header}} </p>
                <p>{{ errorMessage}}</p>
        </div>

        {{>footer}}
</body>

</html>